<!DOCTYPE html>
<html>
<head>
  <title>LetsQuit</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
    <% if @user && !@user.smokes.empty? %>
      <%= render partial: "/streaks/streak" %>
    <% end %>

    <section id="main-screen">
      <% if @user && !@user.smokes.empty? %>
        <%= render partial: "/partials/user_spending" %>
      <% end %>
    </section>


    <% if @user %>
      <div class="small-6 medium-6 large-6 columns">
        <%= link_to "Smoke", user_smokes_path(@user), method: 'post', class: "now button radius right" %>
      </div>

      <div class="small-6 medium-6 large-6 columns left">
        <%= link_to "Smoke", user_smokes_path(@user), method: 'post', class: "now button radius left" %>
      </div>
    <% else %>
      <div id="sign-in-sign-up-msg">
        <h3 class="text-center">
          <span><%= link_to 'Please sign-in', new_user_session_path, class: 'red-text' %></span>
          or
          <span><%= link_to 'create a new account', new_user_registration_path, class: 'red-text' %></span>
        </h3>
      </div>
    <% end %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
