<!DOCTYPE html>
<html>
<head>
  <title>LetsQuit</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

  <section id="decision">
    <% if @user %>
      <%= render partial: "/streaks/streak" %>
    <% else %>
      <div id="sign-in-sign-up-msg">
        <h3 class="text-center">
          <span><%= link_to 'Please sign-in', new_user_session_path, class: 'white-text' %></span>
          or
          <span><%= link_to 'create a new account', new_user_registration_path, class: 'white-text' %></span>
        </h3>
      </div>
    <% end %>
    <% if @user %>
      <% 3.times do %>
        </br>
      <% end %>
      <div class="row">
        <div class="small-12 medium-12 large-9 large-centered columns">
          <h5 class="mission-statement text-center">Each time we light up a cigarette, we make a decision, conscious or unconscious.</h5>
          <h5 class="mission-statement text-center">Whether we crave a smoke everytime it rains or when we become stressed,</h5>
          <h5 class="mission-statement text-center">
          JustQuit is here to help each decision become a conscious decision.
          </h5>
        </div>
      </div>
      <% 3.times do %>
        </br>
      <% end %>

      <div class="small-6 medium-6 large-6 columns">
        <%= link_to "Smoke", new_user_smoke_path(@user), method: 'get', class: "button right", id: "decision-smoke" %>
      </div>

      <div class="small-6 medium-6 large-6 columns left">
        <%= link_to "Not to Smoke", new_user_smoke_path(@user), method: 'get', class: "button left", id: "decision-not-smoke" %>
      </div>
    <% end %>
  </section>

    <section id="main-screen">
      <br><br>
      <% if @user && !@user.smokes.empty? %>
        <%= render partial: "/partials/user_spending" %>
      <% end %>
    </section>

    <% 3.times do %>
      </br>
    <% end %>

    <% if @user %>
      <div class="row">
        <div class="small-12 small-centered medium-12 medium-centerd large-12 large-centered">
          <section id="charts">
          </section>
        </div>
      </div>
    <% end %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
